<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto | EcoMarket</title>
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <div class="contenedor">
            <img src="../img/icons/110068962-eco-market-green-leaf-word-on-white-background-suitable-for-card-icon-or-typography-logo-design.jpg"
                class="logo" alt="icono pricipal">
                <nav class="nav-links">
                    <a href="../index.html">Inicio</a>
                    <a href="../views/producto.html">Productos</a>
                    <a href="../views/sobre-nosotros.html">Nosotros</a>
                    <a href="../views/contacto.html">Contacto</a>
                </nav>
        </div>
    </header>

    <main class="contacto">

        <h2>Contáctanos</h2>

        <div class="contacto-contenedor">

            <form class="formulario">

                <label>Nombre</label>
                <input type="text" required>

                <label>Correo electrónico</label>
                <input type="email" required>

                <label>Mensaje</label>
                <textarea required></textarea>

                <button type="submit">Enviar Mensaje</button>

            </form>

        </div>
    
    </main>

</body>
    <footer class="footer">
        <section class="redes">

            <h3>Síguenos</h3>

            <div class="iconos">

                <a href="#">
                    <img src="../img/icons/iconofacebook.avif" alt="Facebook">
                </a>

                <a href="#">
                    <img src="../img/icons/iconoInstagram.webp" alt="Instagram">
                </a>

            </div>

        </section>


        <p>© 2026 EcoMarket</p>
    </footer>
</html>