<!DOCTYPE html>
<html lang="es">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto | EcoMarket</title>

    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>

    <header class="header">
        <h1>EcoMarket</h1>

        <nav>
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="sobre-nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main class="contacto">

        <h2>Contáctanos</h2>

        <div class="contacto-contenedor">

            <form class="formulario">

                <label>Nombre</label>
                <input type="text" required>

                <label>Correo electrónico</label>
                <input type="email" required>

                <label>Mensaje</label>
                <textarea required></textarea>

                <button type="submit">Enviar Mensaje</button>

            </form>

        </div>

        <section class="redes">

            <h3>Síguenos</h3>

            <div class="iconos">

                <a href="#">
                    <img src="../img/icons/iconofacebook.avif" alt="Facebook">
                </a>

                <a href="#">
                    <img src="../img/icons/iconoInstagram.webp" alt="Instagram">
                </a>

            </div>

        </section>

    </main>

    <footer class="footer">
        <p>© 2026 EcoMarket</p>
    </footer>

</body>

</html>