<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos EcoMarket</title>
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <div class="contenedor">
            <img src="../img/icons/110068962-eco-market-green-leaf-word-on-white-background-suitable-for-card-icon-or-typography-logo-design.jpg"
                class="logo" alt="icono pricipal">
                <nav class="nav-links">
                    <!-- <ul class="nav-links">
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="views/productos.html">Productos</a></li>
                        <li><a href="views/sobre-nosotros.html">Nosotros</a></li>
                        <li><a href="views/contacto.html">Contacto</a></li>
                    </ul> -->
        
                    <a href="../index.html">Inicio</a>
                    <a href="../views/producto.html">Productos</a>
                    <a href="../views/sobre-nosotros.html">Nosotros</a>
                    <a href="../views/contacto.html">Contacto</a>
        
                </nav>
        </div></header>
    <h2>CATALOGO</h2>
    <section>
        <div class="grid-productos">

            <div class="card">
                <img src="../img/products/Prodcuto1.jpg">
                <h3>Productos Personales</h3>
                <p>Productos con material natural.</p>
                <button>Agregar Productos</button>
            </div>
            <div class="card">
                <img src="../img/products/producto2.jpg">
                <h3>Bolsita Ecologica</h3>
                <p>Bolsita de tela.</p>
                <button>Agregar Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto3.jpg">
                <h3>Makeup</h3>
                <p>Maquillaje Ecologico.</p>
                <button>Agregar Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto4.jpg">
                <h3>Balsamo Labial</h3>
                <p>Con ingredientes organicos.</p>
                <button>Agregar Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto 5.jpg">
                <h3>Shampoo Solido</h3>
                <p>Con ingredientes naturales,cuida tu cabello.</p>
                <button>Agregar Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto6.jpg">
                <h3>Aceite De Jojoba </h3>
                <p>Luce una piel suave y radiante.</p>
                <button>Agregar Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto7.jpg">
                <h3>Cepillo De Bamboo </h3>
                <p>Luce un cabello sano con sus beneficios.</p>
                <button>Agregar Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto8.jpg">
                <h3>Productos Ecologicos Para Tu Casa</h3>
                <p>Cambia tu rutina a estos maravillosos productos.</p>
                <button>Agregar Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto9.jpg">
                <h3>Alfombras </h3>
                <p>Añade un estilo sostenible y diferente a tu hogar.</p>
                <button>Agregar Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto10.jpg">
                <h3>Estanderia Para Tu Escritorio </h3>
                <p>Crea un espacio ordenado en tu zona de trabajo.</p>
                <button>Agregar Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto11.jpg">
                <h3>Bolsita Para Tu Bebida</h3>
                <p>Lleva tu bebida en un lugar mas seguro.</p>
                <button>Agregar Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto12.jpg">
                <h3>Velas Aromaterapia</h3>
                <p>Velas ecologicas con cera de soja y aceites
                    esenciales.</p>
                <button>Agregar Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto13.jpg">
                <h3>Jabon Artesanal</h3>
                <p>Luce una piel super hidratante con este
                    producto de avena,sin colorante ni
                    quimicos.</p>
                <button>Agregar Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto14.jpg">
                <h3>Toallas Desmaquillante
                    Ecologicas</h3>
                <p>Discos de algodon suaves y
                    reutilizable.</p>
                <button>Agregar Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto15.jpg">
                <h3>Macetas Biodegradables
                </h3>
                <p>Traslada tus plantas a
                    este recipiente y ayuda
                    a tu planta a sufrir
                    menos y sin estres.</p>
                <button>Agregar
                    Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto16.jpg">
                <h3>Camisetas De
                    Algodon</h3>
                <p>Luce esta
                    camiseta con una
                    suavidad
                    transpirante y
                    ultracomodo.</p>
                <button>Agregar
                    Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto17.jpg">
                <h3>Dispensador
                    Con
                    Esponja
                </h3>
                <p>Dispensador
                    minimalista
                    acompañado
                    con una
                    esponja
                    neutra.
                </p>
                <button>Agregar
                    Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto18.jpg">
                <h3>Servilletas
                    De
                    Lino
                </h3>
                <p>Servilletas
                    lavables
                    y
                    suaves
                    de
                    tela
                    elegante,
                    para
                    todo
                    tipo
                    de
                    decoracion.
                </p>
                <button>Agregar
                    Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto19.jpg">
                <h3>Juguete para tu mascota</h3>
                <p>Este juguete con forma de mancuerda,favorece la higiene dental y ayuda a preveneir la formacion de
                    sarro.</p>
                <button>Agregar producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto20.jpg">
                <h3>Lampara Solar</h3>
                <p>Ilumina tu hogar,se recarga durante el dia y al llegar la noche se enciende automaticamente.</p>
                <button>Agregar Producto</button>
            </div>
        </div>
    </section>
</body>

</html>