<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>

    <h2 style="text-align: center;">CATALOGO</h2>
    <section class="productos">
        <div class="grid-productos">

            <div class="card">
                <img src="../img/products/Prodcuto1.jpg">
                <h3>Productos Personales</h3>
                <p>Productos con material natural.</p>
                <button>Agregar Productos</button>
            </div>
            <div class="card">
                <img src="../img/products/producto2.jpg">
                <h3>Bolsita Ecologica</h3>
                <p>Bolsita de tela.</p>
                <button>Agregar Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto3.jpg">
                <h3>Makeup</h3>
                <p>Maquillaje Ecologico.</p>
                <button>Agregar Producto</button>
            </div>
            <div class="card">
                <img src="../img/products/producto4.jpg">
                <h3>Balsamo Labial</h3>
                <p>Con ingredientes organicos.</p>
                <button>Agregar Producto</button>
                <div>
                    <div class="card">
                        <img src="../img/products/producto 5.jpg">
                        <h3>Shampoo Solido</h3>
                        <p>Con ingredientes naturales,cuida tu cabello.</p>
                        <button>Agregar Producto</button>
                        <div>
                            <div class="card">
                                <img src="../img/products/producto6.jpg">
                                <h3>Aceite De Jojoba </h3>
                                <p>Luce una piel suave y radiante.</p>
                                <button>Agregar Producto</button>
                                <div>
                                    <div class="card">
                                        <img src="../img/products/producto7.jpg">
                                        <h3>Cepillo De Bamboo </h3>
                                        <p>Luce un cabello sano con sus beneficios.</p>
                                        <button>Agregar Producto</button>
                                        <div>
                                            <div class="card">
                                                <img src="../img/products/producto8.jpg">
                                                <h3>Productos Ecologicos Para Tu Casa</h3>
                                                <p>Cambia tu rutina a estos maravillosos productos.</p>
                                                <button>Agregar Producto</button>
                                                <div>
                                                    <div class="card">
                                                        <img src="../img/products/producto9.jpg">
                                                        <h3>Alfombras </h3>
                                                        <p>Añade un estilo sostenible y diferente a tu hogar.</p>
                                                        <button>Agregar Producto</button>
                                                        <div>
    </section>
</body>

</html>